html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

html {
  font-size: 16px;
  height: 100%;
  background-color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

.wrapper::after {
  clear: both;
  content: "";
  display: table; }

h1, h2 {
  color: #B69DDD;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

a {
  text-decoration: none;
  color: #eeecea; }
  a:hover, a:active, a:focus {
    border: none;
    color: #D5749F;
    outline: none;
    text-decoration: none; }

.work, .about, .upcoming, .contact {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  font-size: 1.2em; }
  .work:last-child, .about:last-child, .upcoming:last-child, .contact:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .work, .about, .upcoming, .contact {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      padding: 0 5px;
      font-size: 1em; }
      .work:last-child, .about:last-child, .upcoming:last-child, .contact:last-child {
        margin-right: 0; } }
  .work .content, .about .content, .upcoming .content, .contact .content, .about .testimonials .testimonial-full, .work .event, .about .event, .upcoming .event, .contact .event {
    background-color: rgba(243, 234, 241, 0.24);
    padding: 15px;
    margin-bottom: 20px;
    color: #eeecea; }
    .work .content:last-child, .about .content:last-child, .upcoming .content:last-child, .contact .content:last-child, .about .testimonials .testimonial-full:last-child, .work .event:last-child, .about .event:last-child, .upcoming .event:last-child, .contact .event:last-child {
      margin-bottom: 0; }
    .work .content p, .about .content p, .upcoming .content p, .contact .content p, .about .testimonials .testimonial-full p, .work .event p, .about .event p, .upcoming .event p, .contact .event p {
      margin: 20px 0; }
      .work .content p:first-child, .about .content p:first-child, .upcoming .content p:first-child, .contact .content p:first-child, .about .testimonials .testimonial-full p:first-child, .work .event p:first-child, .about .event p:first-child, .upcoming .event p:first-child, .contact .event p:first-child {
        margin-top: 0; }
  .work ul, .about ul, .upcoming ul, .contact ul {
    list-style-type: none; }
    .work ul li:not(:last-child), .about ul li:not(:last-child), .upcoming ul li:not(:last-child), .contact ul li:not(:last-child) {
      padding-bottom: 5px; }
  .work .emphasis, .about .emphasis, .upcoming .emphasis, .contact .emphasis {
    font-size: 1.4em;
    font-weight: bold; }
    .work .emphasis.dark-pink, .about .emphasis.dark-pink, .upcoming .emphasis.dark-pink, .contact .emphasis.dark-pink {
      color: #D5749F; }
    .work .emphasis.purple, .about .emphasis.purple, .upcoming .emphasis.purple, .contact .emphasis.purple {
      color: #B69DDD; }
    .work .emphasis.light-pink, .about .emphasis.light-pink, .upcoming .emphasis.light-pink, .contact .emphasis.light-pink {
      color: #FCDEFC; }

/* Chrome, Safari, Opera */
@-webkit-keyframes move {
  0% {
    bottom: 0; }
  10% {
    bottom: 130px; }
  50% {
    bottom: 130px; }
  60% {
    bottom: 260px; }
  100% {
    bottom: 260px; } }
/* Standard syntax */
@keyframes move {
  0% {
    bottom: 0; }
  10% {
    bottom: 130px; }
  50% {
    bottom: 130px; }
  60% {
    bottom: 260px; }
  100% {
    bottom: 260px; } }
footer {
  text-align: center; }
  footer header {
    display: none; }
    @media screen and (max-width: 768px) {
      footer header {
        border-top: 2px solid #D5749F;
        border-bottom: none;
        display: block; } }

header {
  border-bottom: 4px solid #D5749F;
  background-color: black;
  color: #eeecea; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 768px) {
    header {
      border-bottom: 2px solid #D5749F;
      font-size: .9em;
      text-align: center; } }
  header .logo {
    margin-left: 8.5298%;
    float: left;
    font-size: 1.7em;
    margin-top: 18px; }
    @media screen and (max-width: 768px) {
      header .logo {
        margin-left: 0%;
        border-bottom: 2px solid #D5749F;
        float: none;
        margin: 0;
        padding: 10px 0; } }
  header nav {
    font-size: 1.2em;
    font-weight: 300;
    float: right;
    padding: 24px 8.5%; }
    @media screen and (max-width: 768px) {
      header nav {
        float: none;
        padding: 0;
        margin: 10px 0; } }
    header nav ul {
      list-style: none; }
    header nav > ul > li {
      display: inline;
      margin: 16px;
      position: relative; }
      header nav > ul > li:hover > .dropdown-menu {
        display: block; }
    header nav .dropdown-menu {
      background-color: black;
      display: none;
      float: left;
      left: -30px;
      padding-left: 30px;
      position: absolute;
      top: 100%;
      width: 180px;
      z-index: 1000; }
      header nav .dropdown-menu li {
        padding: 10px 0; }

.home {
  background: url("../images/homepage_background.png") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden; }
  .home .titlebox {
    margin-left: 8.5298%;
    margin-top: 10%;
    color: #B69DDD;
    font-size: 2.4em;
    font-weight: 300; }
    .home .titlebox h1 {
      margin-bottom: 5px; }
    .home .titlebox .logo-may {
      color: #D5749F;
      font-weight: 300; }
    .home .titlebox .educator {
      color: #D5749F;
      margin-left: 20px; }
    .home .titlebox .facilitator {
      margin-left: 110px; }
  .home .testimonial-box {
    margin: 11% 0 5% 10%;
    color: #eeecea;
    height: 130px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .home .testimonial-box {
        display: none; } }
    .home .testimonial-box .testimonial {
      height: 130px;
      width: 350px; }
      .home .testimonial-box .testimonial p {
        font-style: italic; }
      .home .testimonial-box .testimonial #read-more {
        text-align: right;
        font-style: normal; }
    .home .testimonial-box .carousel-container {
      position: relative;
      -webkit-animation: move 15s linear 5s infinite;
      /* Chrome, Safari, Opera */
      animation: move 15s linear 5s infinite; }
  .home .photo-credit {
    color: #eeecea;
    text-align: right;
    padding: 0 10px 10px 0;
    opacity: .5; }

.work .work-section::after {
  clear: both;
  content: "";
  display: table; }
.work .work-section span {
  font-weight: normal; }
.work .description, .work .topics {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .work .description:last-child, .work .topics:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .work .description, .work .topics {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .work .description:last-child, .work .topics:last-child {
        margin-right: 0; } }
.work .topics {
  color: #B69DDD; }
  .work .topics h3 {
    color: #B69DDD;
    font-size: 1.4em; }

.about .testimonials #testimonial-signature {
  text-align: right;
  font-size: .8em;
  padding-bottom: 0;
  font-style: italic; }

.event h3, .event .feedback {
  color: #D5749F; }
.event .second-facilitator {
  color: #B69DDD; }
.event .event-section {
  margin-bottom: 15px; }
.event .note {
  font-style: italic; }
.event .details {
  color: #B69DDD; }
  .event .details .cost-tiers {
    margin: 0 0 15px 15px; }

.contact .contact-description, .contact .email-signup {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .contact .contact-description:last-child, .contact .email-signup:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .contact .contact-description, .contact .email-signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .contact .contact-description:last-child, .contact .email-signup:last-child {
        margin-right: 0; } }
.contact .email-signup {
  color: #E0A3B6; }
  .contact .email-signup #mc_embed_signup .button {
    margin: 15px 5px 0 0;
    height: 40px; }
  .contact .email-signup #mc_embed_signup .mc-field-group {
    padding-bottom: 1.5%; }
