<div class="wrapper">
      <header class="main-header">
        <div class="logo">KITTY MAY</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <a href="#/home"><li class="active">Home</li></a>
            <a href="#/about"><li>About</li></a>
            <a href="#/work"><li>Work</li></a>
            <a href="#/contact"><li>Contact</li></a>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <div class="about">
          <h1>About</h1>
          <p>   I started educating in 2004 when, volunteering as an Outreach worker for a student-run sexual assault centre, I began facilitating workshops about consent in high schools. This role led me to a set off on a career in youth work in the UK, where, as well as providing emotional support, mentoring, rights-based advice and advocacy, I built up an expertise in sex and relationships education, from delivering one-to-one sessions in a drop-in centre to developing a semester-long, accredited curriculum for teens.</p></br>
    		  <p>   In order to share my skills, I began creating and delivering training for other professionals on how (and why) to talk with youth about sex and relationships. During this work, in the UK and in South Africa, it became evident to me that it's not just young people who benefit from a comfortable and open space in which to explore ideas and feelings about sexuality: the adults I was training were getting a huge amount from sessions on a personal, as well as professional, level.</p></br>
    		  <p>   So, I broadened my practice further and, now based in Berlin, began creating workshops and offering personal sessions specifically for adults. (Something more about this...) Alongside my work on sex and relationships, I continue to educate on other topics such a communication skills, active listening, and youth-centred practice. Unifying all my work is my commitment to empowering people with the knowledge and confidence they need to make informed choices, encouraging critical thinking, and creating open spaces in which people feel comfortable to reflect and learn.</p>
		</div>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="connect-w-me">
          <li class="above">
            Signup for my newsletter:
          </li>
          <li class="above"> <div id="mc_embed_signup">
              <form action="http://facebook.us2.list-manage.com/subscribe/post?u=823f50ac7a689cd5602c17e84&amp;id=94040402e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address</label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_823f50ac7a689cd5602c17e84_94040402e7" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
          </div></li>
        </ul>
      </section>
    </div>
    <footer class="footer-main">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>
