<div class="wrapper">
      <header class="main-header">
        <div class="logo">Kitty May</div>
        <nav>
          <ul>
            <li><a href="#/home">HOME</a></li>
            <li><a href="#/about">ABOUT</a></li>
                <ul class="sub-list">
                  <li><a href="">Approach</a></li>
                  <li><a href="">Background</a></li>
                  <li><a href="">Testimonials</a></li>
                </ul>
            <li><a href="#/work">WORK</a></li>
                <ul class="sub-list">
                  <li><a href="">For Youth</a></li>
                  <li><a href="">For Adults</a></li>
                  <li><a href="">For Professionals</a></li>
                </ul>
            <li><a href="">UPCOMING</a></li>
            <li><a href="http://lipstickandteeth.wordpress.com" target="_blank">BLOG</a></li>
            <li><a href="#/contact">CONTACT</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <div class="about">
            <div class="heading">
                <div class="title">
                  <h2>Approach</h2>
                </div>
            </div>
        <div class="clear"></div>

        <p>   I am an educator and facilitator for youth and adults, specialising in work on sex, sexuality and relationships. I believe that everyone has the right to safe, healthy and pleasurable sexual experiences – as well as the right to determine for themselves what those terms mean.  My person-centred and participatory approach empowers people with the knowledge and confidence to make informed, responsible choices; encourages critical thinking; and creates open, comfortable spaces where people can reflect, share and learn.</p>

        <h2>Background</h2>

        <p>   In 2008 I began a career in youth work, having spent my university years volunteering for sexual assault centres and in sexuality and gender awareness programmes for young people. With training and experience, I established an expertise in sex and relationships education, and became a trainer for professionals on how (and why) to talk with youth about sex. It became clear to me that it's not just young people who want information, or value the opportunity to explore ideas and feelings, about sexuality. So, I developed my practice further and started creating workshops and sessions for adults. Now based in Berlin, I have been a freelance sex educator, facilitator and trainer, for people of all ages, since 2012.</p>
      </br>

        <p>   As well as a BA (hons) (University of Leeds, UK) and an MA (McGill University, Canada) in English Literature, I hold a Diploma in Informal Education (YMCA George Williams College, UK) and a Postgraduate Certificate in Person-Centred Counselling Skills (University of East Anglia, UK). My professional experience, spanning both the non-profit sector and statutory services, was gained in Canada, the UK, South Africa and Germany. Please get in touch if you would like to see my full C.V.</p>
		</div>
        </div>
      </section>
     <section class="contact banner">
        <ul>
          <li>
            Signup for my newsletter:
          </li>
          <li> 
            <div id="mc_embed_signup">
              <form action="http://facebook.us2.list-manage.com/subscribe/post?u=823f50ac7a689cd5602c17e84&amp;id=94040402e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address</label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_823f50ac7a689cd5602c17e84_94040402e7" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
          </div></li>
        </ul>
      </section>
    </div>
    <footer class="banner">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>