<div class="wrapper">
      <header class="main-header">
        <div class="logo">KITTY MAY</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <a href="#/home"><li class="active">Home</li></a>
            <a href="#/about"><li>About</li></a>
            <a href="#/work"><li>Work</li></a>
            <a href="#/contact"><li>Contact</li></a>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <div class="about">
          <h1>Contact Me</h1>
      	  </br>
          <p>Send me a quick email to get in touch: kitty (at) kittymay.com.</p>
          </br>
          <p>I'd be happy to answer any questions you may have and/or provide a free 30-minute consultation.</p>
          </br>
          <p>Join my email list to hear about my upcoming events and workshops:</p> 
      	  </br>

<div id="mc_embed_signup">
      <form action="http://facebook.us2.list-manage.com/subscribe/post?u=823f50ac7a689cd5602c17e84&amp;id=94040402e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_823f50ac7a689cd5602c17e84_94040402e7" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>
		</div>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="connect-w-me">
          <li class="above">
            Connect with me:
          </li>
          <li class="above">Email sign-up</li>
        </ul>
      </section>
    </div>
    <footer class="footer-main">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>