<div class="wrapper">
      <header class="main-header">
        <div class="logo">KITTY MAY</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <a href="#/home"><li class="active">Home</li></a>
            <a href="#/about"><li>About</li></a>
            <a href="#/work"><li>Work</li></a>
            <a href="#/contact"><li>Contact</li></a>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <div class="about">
          <h1>Contact Me</h1>
      	  </br>
          <p>Send me a quick email to get in touch: kitty (at) kittymay.com.</p>
          </br>
          <p>I'd be happy to answer any questions you may have and/or provide a free 30-minute consultation.</p>
          </br>
          <p>Join my email list to hear about my upcoming events and workshops:</p> 
      	  </br>
      	  <p>EMAIL LIST</p>
		</div>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="connect-w-me">
          <li class="above">
            Connect with me:
          </li>
          <li class="above">Email sign-up</li>
        </ul>
      </section>
    </div>
    <footer class="footer-main">
      <div class="footer-text">2014 Kitty May</div>
    </footer>