<div class="wrapper">
      <header class="main-header">
        <div class="logo">KITTY MAY</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <a href="#/home"><li class="active">Home</li></a>
            <a href="#/about"><li>About</li></a>
            <a href="#/work"><li>Work</li></a>
            <a href="#/contact"><li>Contact</li></a>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
            <div class="some-background-image">
              <h1>Kitty May</h1>
              <p>Sex Educator and Facilitator</p>
            </div>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="connect-w-me">
          <li class="above">
            Connect with me:
          </li>
          <li class="above">Email sign-up</li>
        </ul>
      </section>
    </div>
    <footer class="footer-main">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>