<div class="wrapper">
      <header class="main-header">
        <div class="logo">Kitty May</div>
        <nav>
          <ul>
            <li><a href="#/home">HOME</a></li>
            <li><a href="#/about">ABOUT</a></li>
                <ul class="sub-list">
                  <li><a href="">Approach</a></li>
                  <li><a href="">Background</a></li>
                  <li><a href="">Testimonials</a></li>
                </ul>
            <li><a href="#/work">WORK</a></li>
                <ul class="sub-list">
                  <li><a href="">For Youth</a></li>
                  <li><a href="">For Adults</a></li>
                  <li><a href="">For Professionals</a></li>
                </ul>
            <li><a href="">UPCOMING</a></li>
            <li><a href="http://lipstickandteeth.wordpress.com" target="_blank">BLOG</a></li>
            <li><a href="#/contact">CONTACT</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="banner above-fold-homepage">
          <div class="titlebox">
            <h1>Kitty May</h1>
            <h4>Educator and Facilitator</h4>
          </div>
      </section>
      <section class="contact banner">
        <ul>
          <li>
            Signup for my newsletter:
          </li>
          <li> 
            <div id="mc_embed_signup">
              <form action="http://facebook.us2.list-manage.com/subscribe/post?u=823f50ac7a689cd5602c17e84&amp;id=94040402e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address</label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_823f50ac7a689cd5602c17e84_94040402e7" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
          </div></li>
        </ul>
      </section>
    </div>
    <footer class="banner">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>