<div class="wrapper">
  <section class="above-fold-container banner">
    <div class="upcoming">
      <h2><span class="title-emphasis">upcoming:</span></h2>
      	<div class="event">
      		<h4>Sex-Positivity in Practice</h4>
			<p>with <a href="http://www.englishyogaberlin.com/about-english-yoga-berlin/bios/" target="_blank">Meg Saxby</a></p>

			<p>What is sex-positivity, in theory and in practice?</p>

			<p>Using the herstory of sex-positive sex shops as a starting point, sex educators Meg and Kitty from Other Nature, Berlin's alternativer Sexladen, will suggest some of the core values of sex-positivity, and discuss how those values are put into practice.</p>

			<p>We'll unpack some of the messages, norms and values about sex and sexuality that we are commonly exposed to, and explore the idea of sex-positivity as a radical alternative to narratives of shame and harm.</p>

			<p>Participants will be invited to reflect on the relevance and application of sex-positivity to various spheres, including the contexts in which they live, work and do activism, and will work together to establish tools and strategies for creating sex-positive spaces and practices. </p>


			<ul>
				<li>Where: at the English Yoga Berlin studio, Gorlitzer Straße 39, 10997 Berlin</li>
				<li>When: Sunday, October 19th, 11-13.00</li>
				<li>Cost: free</li>
				<li>Participate: all details are on <a href="https://antisexistische-praxen.site36.net" target="_blank">the conference website</a></li>
			</ul>							

			</div>
      	
      	<div class="event">
      		<h4>Exploring Your Sexual Self: Past, Present & Future</h4>
			<p>with <a href="http://www.englishyogaberlin.com/about-english-yoga-berlin/bios/" target="_blank">Meg Saxby</a></p>

			<p>The erotic life, encompassing desire, pleasure, fantasy and experience, is a creative and meaningful current in many people's lives: a source of depth, connection and vitality. Yet we can also feel disconnected from, puzzled by, or ashamed of our sexual selves and don't often have the opportunity to consider, express and shape our own erotic journeys.</p>

			<p>This engaging workshop series will give participants tools and space to explore their sexual selves, and define their own vision of erotic empowerment. Over the course of 3 sessions, we will connect with our sexual selves as they are today; remember who they were in the past; imagine our brightest erotic futures - and consider the most luscious, fun and self-loving ways of getting there!</p>

			<p>Using movement, relaxation, discussion and creative tools for reflection, we will explore ideas about and experiences of desire, pleasure, fulfilment, the body and more. Each participant will choose an area of focus, creating a personal path within a collaborative learning process. There will be opportunities to share with one another, but no obligation to disclose more than is comfortable.</p>

			<p>Because we believe in celebration and the power of Gemütlichkeit, each session will begin with tea and snacks and will be followed by an optional yoga session (not included in the workshop fee).</p>

			<p>The series is open to FLTI* (female, lesbian, trans*, intersex) people only.</p>

			<ul>
				<li>When: Sundays November 23rd, 30th and December 7th, 11:00-15:00</li>
				<li>Where: at the English Yoga Berlin studio, Gorlitzer Straße 39, 10997 Berlin</li>
				<li>Cost: Because we want this series to be both accessible for participants and sustainable for us as workers, the price is based on participants' take-home monthly income and an hourly rate for our work. The fee for the series is:</li>
				<ul>
					<li>60€ if your monthly income is 700€ or less</li>
					<li>100€ if your monthly income is 700-1000€</li>
					<li>150€ if your monthly income is 1000-1500€</li>
					<li>10-15% of your monthly income if you earn over 1500€</li>
				</ul>

				<li>Participate: to register, or if you have any questions, please email <a href="mailto:contactkittymay@gmail.com" target="_blank">contactkittymay@gmail.com</a>. A deposit of 1/3rd of your fee will be payable by bank transfer to secure your place.</li>
			</ul>							

			<p>The deadline for registration and deposit payment is Monday, November 17th.</p>
			<div class="note">
				<p>Please note:</p>

				<p>The series is open to FLTI* (female, lesbian, trans*, intersex) people only.</p>

				<p>While we both have some training in counseling and group praxis, neither of us are qualified therapists and this course is not intended as a substitute for therapeutic intervention. We ask participants to please make a considered decision about their readiness to participate and to place their well-being at the centre of that choice.</p>

				<p>We are committed to creating a space that is as safe and supportive as possible, and invite all participants to share responsibility for this environment. We believe in the capacity of intentional community to create safety, healing, learning and fun.</p>
			</div>
      	</div>
    	<div class="event">
				<h4>Communicating Desire</h4>

				<p>Good communication can help us and our lovers feel safer, sexier and more satisfied. How do we express our sexual desires and boundaries? How do we find out what our lovers want, need and enjoy?</p>
				<p>Addressing these questions, this workshop aims to increase participants' confidence in voicing their desires, and to develop core listening skills for lovers. It will help participants build communication skills for fulfilling, consensual sexual connections.</p>

				<p>We'll explore the meaning, and the erotic power, of enthusiastic consent, learn some tools and strategies for communication, and practice using them within the workshop.</p>

				<ul>
					<li>Where: <a href="http://www.other-nature.de" target="_blank">Other Nature</a>, Mehringdamm 79, 10965 Berlin</li>
					<li>When: Monday, November 17th, 18:30 – 21:30</li>
					<li>Cost: 15€ (12€ limited income)</li>
					<li>Participate: Pre-registration is recommended as space is limited. To pre-register, email: workshop@other-nature.de with the subject: “Communication”</li>
				</ul>
			</div>
			<div class="event">
				<h4>Everything You Ever Wanted to Know About Safer Sex</h4>
				<h4>(But Were Too Afraid To Ask)</h4>

				<p>It’s hard to avoid the message that sex should be “safer”, but clear, detailed information about why and how can be less accessible. Moreover, many people feel confident in their knowledge, but find the practice of safer sex more complicated than the theory.</p>
				<p>This fun, informative workshop will outline common sexually transmitted infections, including transmission, symptoms, testing, and treatment. We’ll take a look at some safer sex tools, getting to grips with gloves, down with dams, and building condom competence, and learn about different kinds of risk. Next, we’ll turn to the realities of safer sex choices. How do we communicate with new or existing lovers about protection? We’ll build strategies for negotiation, and face up to the spectre of… killing the mood!</p>

				<p>Whether you’re playing with penises or vulvas, hands or mouths, vibrators or butt plugs, many lovers or one, this workshop will give you the knowledge and confidence to make informed choices, put them into action, and feel sexy doing so. People of all genders and orientations welcome.</p>

				<ul>
					<li>Where: <a href="http://www.other-nature.de" target="_blank">Other Nature</a>, Mehringdamm 79, 10965 Berlin</li>
					<li>When: Monday, December 15th, 18:30 – 21:00</li>
					<li>Cost: 12€ (10€ limited income)</li>
					<li>Participate: Pre-registration is recommended, as space is limited. To pre-register, email: workshop@other-nature.de with the subject: “Safer Sex”</li>
				</ul>
			</div>
		</div>
	</section>
</div>
