<div class="wrapper">
  <section class="above-fold-container banner">
    <div class="upcoming">
      <h2><span class="title-emphasis">upcoming:</span></h2>
      	
   
      	
      	<div class="event">
				<h4>Girls Just Wanna... a toy workshop for women who play with women</h4>

				<p>Just wanna have fun? Then this workshop is for you! We’ll look at a range of options for enhancing your play, including vibrators, strap-ons and butt toys. After covering some basics about materials and design, we’ll move on to What People Actually Do with the toys on offer.</p>
				<p>Find out how toys can add a little something (or a big something!) extra to your existing play, or lead you into totally new adventures. The workshop will cover ways to talk to your lover/s about using toys, sharing & safer sex, and top tips for handling harnesses. We’ll also touch on stereotypes about using toys… and bust open the myth of penis-envy!</p>

				<p>All particpants will receive a 5€ gift voucher for use on their next toy purchase.</p>
				<p>FLT* only. Lesbians, dykes, queers, bi girls, curious and questioning ladies all welcome!</p>

				<ul>
					<li>Where: <a href="http://www.other-nature.de" target="_blank">Other Nature</a>, Mehringdamm 79, 10965 Berlin</li>
					<li>When: Tuesday, May 19th, 18:30 – 20:30</li>
					<li>Cost: 15€ (including a 5€ giftvoucher for Other Nature)</li>
					<li>Participate: Pre-registration is recommended as space is limited. To pre-register, email: workshop@other-nature.de with the subject: “Girls”</li>
				</ul>
			</div>
			
      	
      	<div class="event">
				
