<div class="wrapper">
  <section class="above-fold-container banner">
    <div class="upcoming">
      <h2><span class="title-emphasis">upcoming:</span></h2>
      	
   <div class="event">
      		<h4>(Re)Claiming Sexuality</h4>
		
			<p>There are many ways in which we can feel that our sexuality is not entirely our own. We might feel unsure of what we really desire, stuck repeating a pattern, constrained by gender expectations, disconnected from our bodies, or inhibited by inherited values.</p>

			<p>(Re)Claiming Sexuality is an opportunity to find and nurture a sense of sexual agency. Each week will focus on a different area of experience: self-image; pleasure; fantasy; values; relationships; & desire. Exploring these themes, you will have the chance to get to know your sexuality more fully, recognise the things the influence you, and embrace your authentic sexual self.</p>

			<p>Each session will include exercises designed to spark personal reflection, followed by facilitated discussion. There is no obligation to disclose more than is comfortable, and in addition to group exchange, there will be time for solo reflection. Some exercises may work with the body but will not be sexual in nature.</p>

			<p>Group size: 8-10 participants.</p>
			<p>All genders welcome.</p>
			<p>Tea and snacks will be provided.</p>

			<ul>
				<li>When: Tuesdays 18:30 – 21:00, May 26th – June 30th </li>
				<li>Where: Prenzlauerberg, Berlin (address given to registered participants)</li>
				<li>Cost: There are four prices available, based on ability to pay:</li>
				<ul>
					<li>120€ if your monthly income is less than 700€</li>
					<li>180€ if your monthly income is 700-1000€</li>
					<li>240€ if your monthly income is 1000-1500€</li>
					<li>300€ if your monthly income is higher than 1500€ (or a higher fee that you feel reflects your ability to pay)</li>
				        <li>Initially there are 3 spaces available at the 120€ price. If several people pay the higher fees, more spots at the 120€ price will be opened up. Therefore, please note that if you are able to pay more, doing so could help someone on a lower income to participate.</li>
				</ul>

				<li>Participate: to register, or if you have any questions, please email <a href="mailto:contactkittymay@gmail.com" target="_blank">contactkittymay@gmail.com</a>. A deposit of 1/3rd of your fee will be payable by bank transfer to secure your place.</li>
			</ul>							

	<p>To consider: discussion of all areas of experience, including trauma, is possible; however please be aware that this group is not a substitute for therapy. The intention is to create a supportive environment in which participants can share and exchange without fear of judgement. Building trust and accountability will be an important, ongoing group process in which all participants are invited to participate fully. </p>


			<p>The deadline for registration and deposit payment is Tuesday, May 19th.</p>
			<div class="note">
			
      	</div>
    	<div class="event">
      	
      	<div class="event">
				<h4>Girls Just Wanna... a toy workshop for women who play with women</h4>

				<p>Just wanna have fun? Then this workshop is for you! We’ll look at a range of options for enhancing your play, including vibrators, strap-ons and butt toys. After covering some basics about materials and design, we’ll move on to What People Actually Do with the toys on offer.</p>
				<p>Find out how toys can add a little something (or a big something!) extra to your existing play, or lead you into totally new adventures. The workshop will cover ways to talk to your lover/s about using toys, sharing & safer sex, and top tips for handling harnesses. We’ll also touch on stereotypes about using toys… and bust open the myth of penis-envy!</p>

				<p>All particpants will receive a 5€ gift voucher for use on their next toy purchase.</p>
				<p>FLT* only. Lesbians, dykes, queers, bi girls, curious and questioning ladies all welcome!</p>

				<ul>
					<li>Where: <a href="http://www.other-nature.de" target="_blank">Other Nature</a>, Mehringdamm 79, 10965 Berlin</li>
					<li>When: Tuesday, May 19th, 18:30 – 20:30</li>
					<li>Cost: 15€ (including a 5€ giftvoucher for Other Nature)</li>
					<li>Participate: Pre-registration is recommended as space is limited. To pre-register, email: workshop@other-nature.de with the subject: “Girls”</li>
				</ul>
			</div>
      	
      	<div class="event">
