<div class="wrapper">
      <header class="header">
        <div class="logo">Kitty May</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <li class="active">Home</li>
            <li>About</li>
            <li>Work</li>
            <li>Contact</li>
          </ul>
        </nav>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <header>
            <div class="some-background-image">
              <h1>Kitty May</h1>
              <p>Sex Educator and Facilitator</p>
            </div>
          </header>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="list-horizontal connect-w-me">
          <li class="above">
            <strong>Connect with me:</strong>
          </li>
          <li>Email sign-up</li>
        </ul>
      </section>
    </div>
    <footer class="text-center footer-main">
      <div class="footer-text">2014 Kitty May</div>
    </footer>>hi!</h1>