<div class="wrapper">
      <header class="main-header">
        <div class="logo">KITTY MAY</div>
        <nav class="main-nav">
          <ul class="list-horizontal">
            <a href="#/home"><li class="active">Home</li></a>
            <a href="#/about"><li>About</li></a>
            <a href="#/work"><li>Work</li></a>
            <a href="#/contact"><li>Contact</li></a>
          </ul>
        </nav>
        <div class="clear"></div>
      </header>
      <section class="above-fold banner">
        <div class="container">
          <div class="work">
	          <div class="heading">
		          <div class="title">
		          	<h1>Work</h1>
		          </div>
		          <div class="topics">
		          	<nav>
		          		<ul>
		          			<a href="#youth"><li>For Youth</li></a>
		          			<a href="#professionals"><li>For Professionals</li></a>
		          			<a href="#adults"><li>For Adults</li></a>
		          		</ul>
		          	</nav>
		          </div>
		      </div>
		  	<div class="clear"></div>

      	  </br>
      	  <h3 id="youth">For Youth</h3>
      	  <p>	I create youth-centred, age-appropriate educational experiences for young people aged 11 and over. I'm available to deliver one-off sessions and long-term projects, in schools, colleges, youth groups, support services and other settings. I have specialist expertise in working with marginalised groups of young people. Topics I can teach young people about include:</p>
      	</br>
      	  <ul>
      	  	<li>Self-esteem and Body Image</li>
			<li>Media Literacy</li>
			<li>Understanding the Body</li>
			<li>Safer Sex: STIs, Contraception and Pregnancy</li>
			<li>Masturbation and Healthy Sex-exploration</li>
			<li>Communication Skills</li>
			<li>Consent and Sexual Assault</li>
			<li>Online Safety</li>
			<li>Building Healthy Relationships</li>
			<li>Am I Ready for Sex?</li>
			<li>Understanding Gender Identity</li>
			<li>Sexuality and Identity</li>
			<li>Gender, Sexuality and Bullying</li>
		</ul>
	</br>

		<p><a href="#/contact">Please get in touch</a> to discuss what I can offer the young people you work with.</p></br></br>

		<h3 id="professionals">For Professionals</h3>
		<p>		I design and deliver bespoke training for professionals, from one-off sessions to long-term capacity-building projects. Topics I can cover include:</p></br>
		<ul>
			<li>Diversity and Inclusion</li>
			<li>Understanding Gender Identity</li>
			<li>Understanding Sexual Identity</li>
			<li>Facilitation Skills</li>
			<li>Active Listening</li>
		</ul></br>

		<p>If your work brings you into contact with young people, I can help you to gain skills in:</p></br>

		<ul>
			<li>Youth-centred practice</li>
			<li>Mentoring Young People</li>
			<li>Creating Youth-Positive Spaces</li>
			<li>Talking to Youth about Sex and Relationships</li>
			<li>Supporting Marginalised Youth</li>
			<li>Working with Trans, Gender Non-Conforming and Gender-Questioning Youth</li>
			<li>Working with Lesbian, Gay, Bisexual, Queer and Questioning Youth</li>
			<li>Helping Young People stay safe Online</li>
		</ul></br>

		<p><a href="#/contact">Please get in touch</a> to discuss what I can offer your workplace.</p></br>

		<h3 id="adults">For Adults</h3>
		<p>		I create opportunities for learning and self-development, particularly in relation to sex, sexuality and relationships. I offer regular public workshops in Berlin on topics including:</p>
	</br>

		<ul>
			<li>Developing Communication Skills</li>
			<li>Identifying and Talking about Desire</li>
			<li>Enthusiastic Consent</li>
			<li>Understanding the Body</li>
			<li>Demystifying Orgasm</li>
		</ul>
	</br>

		<p>		I also deliver workshops for specific groups, such as student organisations, women's or flt groups, LGBTQ, etc. If you're interested in my visiting a group that you belong to, please get in touch.</p>
	</br>
		<p>		Because group learning isn't for everyone, and sometimes people want more time and space to explore personal issues, I also offer private sessions. These can be one-on-one, for members of couples or other relationship constellations, or for groups of friends who wish to explore a common theme.</p>
		</br>
		<p><a href="#/contact">Please get in touch</a> to find out more.</p>
         
		</div>
        </div>
      </section>
      <section class="below-fold text-center">
        <ul class="connect-w-me">
          <li class="above">
            Signup for my newsletter:
          </li>
          <li class="above"> <div id="mc_embed_signup">
              <form action="http://facebook.us2.list-manage.com/subscribe/post?u=823f50ac7a689cd5602c17e84&amp;id=94040402e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address</label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_823f50ac7a689cd5602c17e84_94040402e7" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
          </div></li>
        </ul>
      </section>
    </div>
    <footer class="footer-main">
      <div class="footer-text">© 2014 Kitty May</div>
    </footer>