<div class="campaign">
  <div id="campaign">
    <div class="remove-button" onclick="removeCampaign()">
      <div>&#x00D7;</div>
    </div>
    <a href="https://www.gofundme.com/maxmztkk" target="_blank">
      <div class="info">
        <h1>I'm crowdfunding!</h1>
        <p>I recently got accepted to the University of Guelph’s Intensive Sex Therapy Training Program, which takes place in Ontario, Canada at the end of May.</p>
        <p>Fees, travel, accommodation and required books will cost 2500€. I’m able to pay 500€  — I need your help to get the next 2000€!</p>
        <a class="donate-link" href="https://www.gofundme.com/maxmztkk" target="_blank"><span>&#9654;</span> Donate here</a>
      </div>
    </a>
  </div>
</div>
