.about {
  @extend %page-base;

  &.testimonials {
    #testimonial-signature {
      text-align: right;
      font-size: .8em;
      padding-bottom: 0;
      font-style: italic;
    }
    .testimonial-full {
      background-color: $content-background;
      margin-top: 20px;
      padding: 15px;
      p {
        text-indent: 20px;
      }
      p:not(:last-child) {
        padding-bottom: 10px;
      }
    }
  }

  &.background {
    p {
      text-indent: 20px;
    }
  }
}
