#campaign {
  background-color: black;
  color: $text-purple;
  font-size: 1.4em;
  left: 25%;
  opacity: .7;
  padding: 20px 0;
  position: absolute;
  top: 20%;
  width: 50%;

  .info {
    padding: 0 20px;

    .donate-link {
      color: $dark-pink;
      font-size: 1.5em;

      span {
        font-size: .8em;
      }
    }
  }

  p {
    margin: .8em 0;
  }

  h1 {
    margin: 0;
  }

  .remove-button {
    @include clearfix;
    font-size: 1.7em;
    line-height: 0;
    padding-right: 20px;

    div {
      cursor: pointer;
      float: right;
    }
  }
}

.crowdfunding a {
  color: $dark-pink;
}
