.contact {
  @extend %page-base;

  h2 {
    padding-left: 15px;
  }

  p:not(:last-child) {
    padding-bottom: 15px;
  }
  
  .email-signup {
    li:first-child {
      padding-left: 10px;
    }
    li {
      color: #E0A3B6;
    }

    #mc_embed_signup {
      .button {
        margin: 15px 5px 0 0;
        height: 40px;
      }

      .mc-field-group {
        padding-bottom: 1.5%;
      }
    }
  }
}
