header {
  @extend %clearfix;

  border-bottom: 4px solid $dark-pink;
  background-color: black;
  color: $off-white;
  padding: 0 10%;

  .logo {
    float: left;
    font-size: 1.7em;
    margin-top: 18px;
  }

  a {
    text-decoration: none;
    color: $off-white;

    &:hover,
    &:active,
    &:focus {
      border: none;
      color: $dark-pink;
      outline: none;
      text-decoration: none;
    }
  }

  nav {
    font-size: 1.2em;
    font-weight: 300;
    float: right;
    padding: 24px 0;

    ul {
      list-style: none;
    }

    & > ul > li {
      display: inline;
      margin: 16px;
      position: relative;

      &:hover > .dropdown-menu {
        display: block;
      }
    }

    .dropdown-menu {
      background-color: black;
      display: none;
      float: left;
      left: -30px;
      padding-left: 30px;
      position: absolute;
      top: 100%;
      width: 150px;
      z-index: 1000;

      li {
        padding: 10px 0;
      }
    }
  }
}
