header {
  @include clearfix;
  border-bottom: 4px solid $dark-pink;
  background-color: black;
  color: $off-white;

  .logo {
    @include shift(1);
    float: left;
    font-size: 1.7em;
    margin-top: 18px;
  }

  nav {
    font-size: 1.2em;
    font-weight: 300;
    float: right;
    padding: 24px 8.5%;

    ul {
      list-style: none;
    }

    & > ul > li {
      display: inline;
      margin: 16px;
      position: relative;

      &:hover > .dropdown-menu {
        display: block;
      }
    }

    .dropdown-menu {
      background-color: black;
      display: none;
      float: left;
      left: -30px;
      padding-left: 30px;
      position: absolute;
      top: 100%;
      width: 180px;
      z-index: 1000;

      li {
        padding: 10px 0;
      }
    }
  }
}
