.home {
  background: url('../images/homepage_background.png') no-repeat center center;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .titlebox {
    margin: 10% 0 0 10%;
    color: $text-purple;

    h1 {
      font-size: 5em;
      margin: 0;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 2.4em;
      margin: -10px 0;
      font-weight: 300;
      word-spacing: 5px;
    }

    .logo-may {
      color: $dark-pink;
      font-weight: 300;
    }

    .educator {
      color: $dark-pink;
      margin-left: 20px;
    }

    .facilitator {
      margin-left: 110px;
    }
  }

  .testimonial-box {
    margin: 11% 0 5% 10%;
    color: $off-white;
    height: 130px;
    overflow: hidden;

    .testimonial {
      height: 130px;
      width: 350px;

      p {
        font-style: italic;
      }

      #read-more {
        text-align: right;
        font-style: normal;
      }
    }

    a {
      text-decoration: none;
      color: $off-white;
      &:hover {
        color: $dark-pink;
      }
    }

    .carousel-container {
      position: relative;
      -webkit-animation: move 15s linear 5s infinite; /* Chrome, Safari, Opera */
      animation: move 15s linear 5s infinite;
    }
  }

  .photo-credit {
    color: $off-white;
    text-align: right;
    padding: 0 10px 10px 0;
    opacity: .5;
  }
}
