.upcoming {
  @extend %page-base;
}

.event {
  @extend .content;

  h3 {
    color: $dark-pink;
  }

  .second-facilitator {
    color: $text-purple;
  }

  .event-section {
    margin-bottom: 15px;
  }

  .note {
    font-style: italic;
  }

  .feedback {
    color: $dark-pink;
  }

  .details {
    color: $text-purple;

    .cost-tiers {
      margin-left: 15px;
    }
  }

  a {
    color: $dark-pink;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      border: none;
      color: $dark-pink;
      outline: none;
      text-decoration: none;
    }
  }
}
