---
layout: page
title: about
---
{% for about_section in site.about_sections %}
  <div id="{{about_section.name}}" class="{{about_section.name}}">
    <h2>{{about_section.name}}:</h2>
      <div class="content">
        {% for comment in about_section.comments %}
          <p>{{ comment }}</p>
        {% endfor %}
      </div>

      {% for testimonial in about_section.testimonials %}
        <div class="testimonial-full">
          {% for comment in testimonial.comments %}
            <p>{{ comment }}</p>
          {% endfor %}
          <p id="testimonial-signature">- {{ testimonial.by_line }}</p>
        </div>
      {% endfor %}
  </div>
{% endfor %}
