* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
  font-family: josefin-slab;
  src: url(../fonts/josefin-slab/JosefinSlab-Regular.ttf);
}

@font-face {
  font-family: josefin-slab;
  src: url(../fonts/josefin-slab/JosefinSlab-Bold.ttf);
  font-weight:bold;
}

html, body {
  font-size: 118%;
  height:100%;
  background: #000;
  margin: none;
  font-family: josefin-slab;
  line-height: 1.4;
}
/* wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%;
}

.clear {
    clear: both;
}

/* main header */

.main-header {
  height: 67px;
  width: 100%;
  padding: 10px 0;
  border-bottom: 4px solid pink;
  background-color: rgba(26, 24, 24, 1);
}

a {
  text-decoration: none;
  color: pink;
}

header .logo {
  /* background-image: url('../images/kittylogo.jpg'); */
  float: left;
  display: block;
  /* height: 45px; */
  width: 150px;
  background-repeat: no-repeat;
  padding: 10px 0;
  font-size: 25px;
  padding: 20px;
  color: pink;
  font-family: josefin-slab;
  /* border-radius: 40px; */
  /* border: 2px solid pink; */
  margin-left: 8px;
}

header .main-nav {
  float: right;
  display: block;
  width: 300px;
  padding: 22px 0;
  margin-right: 30px;
}

header ul {
  width: 300px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: pink;
}

header li {
  display: inline;
  margin: 5px;
}

header .banner {
  width: 100%;
  height: auto;
}

.above-fold {
  background-image: url('../images/madonna.jpeg');
  background-repeat: no-repeat;
  height: 455px;
  overflow: scroll;
}

.some-background-image {
    width: 200px;
    height: 100px;
    border: 5px solid pink;
    border-radius: 10px 30px;
    margin: 50px;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 200px;
    color: whitesmoke;
}

.below-fold {
  height: auto;
  width: 100%;
  padding: 30px 0;
  border-top: 4px solid pink;
  background-color: rgba(26, 24, 24, 1);
}

.connect-w-me {
  width: 240px;
  margin: auto;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.above {
  display: inline-block;
  margin: 5px;
  color: pink;
}

.footer-main {
  height: auto;
  width: 100%;
  padding: 10px 0;
  border-top: 2px solid pink;
  background-color: rgba(26, 24, 24, 1);
  clear: both;
}

.footer-text {
  width: 200px;
  margin: auto;
  padding: 0px;
  text-align: center;
  color: pink;
  font-size: 12px;
  opacity: .7;
}

.about, .work {
  background-color: rgba(245, 242, 242, 0.35);
  padding: 10px;
  margin: 30px;
  font-size: .9em;
}

.work h3 {
  text-align: center;
}

.work ul {
  margin-left: 40px;
}

.work .heading ul {
  list-style-type: none;
  margin-top: 6px;
}

.work .heading li {
  display: inline;
  color: pink;
  padding-right: 10px;
}

.work p {
  padding-left: 10px;
}

.title, .topics {
  text-align: center;
}

#mc_embed_signup {
  background:#fff; 
  clear:left; 
}

#mc_embed_signup .button {
  font-family: josefin-slab;
}

#mc_embed_signup .mc-field-group {
  padding-bottom: 1.5%;
}
