* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*@font-face {
  font-family: "HelveticaNeue-Light";
  src: url(../fonts/"HelveticaNeue-Light"/JosefinSlab-Regular.ttf);
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url(../fonts/"HelveticaNeue-Light"/JosefinSlab-Bold.ttf);
  font-weight:bold;
}*/

html, body {
  font-size: 118%;
  height:100%;
  background: #000;
  font-family: "HelveticaNeue-Light";
  line-height: 1.4;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
}

.clear {
  clear: both;
}

/* main header */
.main-header {
  height: 67px;
  width: 100%;
  padding: 10px 0;
  border-bottom: 4px solid #D5749F;
  background-color: rgba(26, 24, 24, 1);
}

header a {
  text-decoration: none;
  color: #faebd7;
}

header .logo {
  float: left;
  display: block;
  width: 150px;
  background-repeat: no-repeat;
  font-size: 1.3em;
  padding: 15px 20px 20px 20px;
  color: #faebd7;
  margin-left: 25px;
}

nav {
  font-size: .8em;
  float: right;
  display: block;
  padding: 24px 0;
  margin-right: 30px;
}

nav ul {
  list-style-type: none;
  color: #faebd7;
}

nav li {
  display: inline;
  margin: 5px;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

.banner {
  width: 100%;
  height: auto;
}

.above-fold {
  background: url('../images/background.png') no-repeat;
  height: 655px;
  overflow: scroll;
}

.above-fold-homepage {
  background: url('../images/homepage_background.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 655px;
  overflow: scroll;
}

.titlebox {
    width: 300px;
    height: 100px;
    position: relative;
    top: 120px;
    left: 300px;
    color: #D5749F;
    font-size: 1.4em;
}

.titlebox h4 {
  color: #BEAECB;
}

.contact {
  padding: 30px 0;
  border-top: 4px solid #C75789;
}

.contact ul {
  width: 360px;
  margin: auto;
  list-style-type: none;
  text-align: center;
}

.contact li {
  display: inline-block;
  margin: 5px;
  color: #E0A3B6;
  font-size: .9em;
  width: 350px;
}

footer {
  padding: 10px 0;
  border-top: 2px solid #C75789;
  clear: both;
}

.footer-text {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #faebd7;
  font-size: .9em;
}

.about, .work {
  background-color: rgba(245, 242, 242, 0.35);
  padding: 10px;
  margin: 30px;
  font-size: .9em;
}

.work h3 {
  text-align: center;
}

.work ul {
  margin-left: 40px;
}

.work .heading ul {
  list-style-type: none;
  margin-top: 6px;
}

.work .heading li {
  display: inline;
  color: pink;
  padding-right: 10px;
}

.work p {
  padding-left: 10px;
}

.title, .topics {
  text-align: center;
}

#mc_embed_signup {
  background:#FAF0FA; 
  clear:left;
  border-radius:15px;
}

#contact_signup {
  width: 350px;
  margin: 5px auto;
}

#mc_embed_signup .button {
  font-size: 1em;
  margin: 5px 5px 10px 0;
  height: 26px;
  line-height: 26px;
}

#mc_embed_signup .mc-field-group {
  padding-bottom: 1.5%;
}

#mc_embed_signup .mc-field-group label {
  color: black;
}
