{% extends "page.html" %}

{% block content %}
{% for about_section in this.children %}
  <div id="{{about_section.name}}" class="{{about_section.name}}">
    <h2>{{about_section.name}}:</h2>
      {% if about_section.content %}
        <div class="content">
          {{ about_section.content }}
        </div>
      {% endif %}

      {% if about_section.children %}
        {% for testimonial in about_section.children %}
          <div class="testimonial-full">
            {{ testimonial.content }}
            <p id="testimonial-signature">- {{ testimonial.byline }}</p>
          </div>
        {% endfor %}
      {% endif %}
  </div>
{% endfor %}
{% endblock %}
