<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/static/main.css'|url }}">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <title>Kitty May</title>
</head>

<body>
  <header>
    <div class="logo"><a href="/">Kitty May</a></div>
    <nav>
      <ul>
        {% for section in site.query('/') %}
          <li class="dropdown"><a href="{{ section | url }}" id="{{ section.title }}">{{ section.title }}</a>
            <ul class="dropdown-menu">
              {% for sub_section in section.children %}
                <li><a href="{{ section | url }}#{{ sub_section.title }}">{{ sub_section.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        <li><a href="http://lipstickandteeth.wordpress.com" target="_blank">blog</a></li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <h2><a href="/contact">» Get in touch</a></h2>
  </footer>
</body>
