{% extends "page.html" %}

{% block content %}
  {% for event in this.children %}
    <div class="event">
      <h3>{{ event.title }}</h3>
      <p>{{ event.subtitle }}</p>
      {% if event.second_facilitator %}
        <p class="second-facilitator">with {{ event.second_facilitator }}</p>
      {% endif %}
      <p>{{ event.feedback }}</p>
      <div class="event-section">
        {{ event.description }}
      </div>

      {% if event.notes %}
      <div class="event-section note">
        <p>Please note:</p>
        {{ event.notes }}
      </div>
      {% endif %}

      {% if event.previous_feedback %}
      <p>Feedback from previous workshops:</p>
        {{ event.previous_feedback }}
      {% endif %}

      <ul class="event-section details">
        <li>When: {{ event.when }}</li>
        <li>Where: {{ event.where }}</li>
        <li>Who: {{ event.who }}</li>
        <li>Cost: {{ event.cost_description }}</li>
          <div class="cost-tiers">
            {{ event.cost_tiers }}
          </div>
          <p>{{ event.cost_note }}</p>
        <li>Participate: {{ event.participate }}</li>
      </ul>
    </div>
  {% endfor %}
{% endblock %}
