---
layout: page
title: work
---
{% for work_type in site.work_types %}
  <div class="work-section {{ work_type.name }}" id="{{ work_type.name }}">
    <h2>for {{ work_type.name }}:</h2>
    <div class="description">
      <div class="content">
        {{ work_type.content }}
      </div>
    </div>
    <div class="topics">
      <div class="content">
        <h3>topics include:</h3>
        <ul>
          {% for topic in work_type.topics %}
            <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}
