---
layout: page
title: work
---
{% for work_type in site.work_types %}
  <div class="work-section {{ work_type.name }}" id="{{ work_type.name }}">
    <div class="description">
      <h2><span>for</span> {{ work_type.name }}:</h2>
      <div class="content">
        {{ work_type.content }}
      </div>
    </div>
    <div class="topics">
      <h2>topics <span>include</span>:</h2>
      <div class="content">
        <ul>
          {% for topic in work_type.topics %}
            <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}
